.page-app-wrapper
	router-outlet
//.test
//	button((click)='a()') createNewWallet
//	button getTransactionsList
//	button getTransaction
//	button sendTransaction
//	button getPublicKey
//	button getPrivateKey