.page-app-wrapper
	a(routerLink='/terms-of-use') terms-of-use
	br
	a(routerLink='/about') about
	br
	a(routerLink='/login-or-register') login-or-register
	br
	a(routerLink='/login') login
	br
	a(routerLink='/register') register
	br
	a(routerLink='/set-pin-code') set-pin-code
	br
	a(routerLink='/enter-pin-code') enter-pin-code
	br
	a(routerLink='/layout/history') history
	br
	a(routerLink='/layout/send') send
	br
	a(routerLink='/layout/receive') receive
	br
	a(routerLink='/layout/settings') settings
	br
	a(routerLink='/layout/show-private-key') show-private-key
	br
	router-outlet