.page-layout-wrapper
	mat-toolbar
		button(mat-icon-button, (click)='sidenav.toggle()')
			mat-icon menu
	mat-sidenav-container
		mat-sidenav(#sidenav='', mode="side")
			h1 Menu
		mat-sidenav-content
			router-outlet